.browser {
  border-style: solid;
  border-color: #d2d2d2 #bebebe #afafaf;
  border-width: 3px;
  height: 720px;
  position: relative;
  width: 960px;
  -moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  -o-border-radius: 34px;
  -ms-border-radius: 34px;
  border-radius: 34px;
  background: #000; 
  background-image:   -moz-linear-gradient(top, #000 0%, #080808 100%); 
  background-image:   -webkit-linear-gradient(top, #000 0%, #080808 100%); 
  background-image:   -o-linear-gradient(top, #000 0%, #080808 100%); 
  background-image:   -ms-linear-gradient(top, #000 0%, #080808 100%);  
  background-image:   linear-gradient(top, #000 0%, #080808 100%);
}
/***** Screen *****/
.browser .screen {
  width: 860px;
  height: 640px;
  background: #fff;
  position: absolute;
  top: 73px;
  left: 11px;
  border-style: solid;
  border-color: #181818 #1f1f1f #000;
  border-width: 2px;
  z-index: 1;
}

/***** Perfect *****/
.browser .perfect .line {
  width: 3px;
  height: 1px;
  position: absolute;
}
.browser .perfect .line-1 {
  top: 33px;
  left: -3px;
  background: #353230;
  border-top: 1px solid #3d3b39;
}
.browser .perfect .line-2 {
  top: 33px;
  right: -3px;
  background: #353230;
  border-top: 1px solid #3d3b39;
}
.browser .perfect .line-3 {
  bottom: 33px;
  left: -3px;
  background: #3d3b39;
  border-top: 1px solid #353230;
}
.browser .perfect .line-4 {
  bottom: 33px;
  right: -3px;
  background: #3d3b39;
  border-top: 1px solid #353230;
}

.browser .shadow {
  background: rgba(0,0,0,0.25);
  width: 945px;
  height: 0;
  position: absolute;
  bottom: -6px;
  left: 8px;
  box-shadow: 0 0 6px 4px rgba(0,0,0,0.25);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
