.ipad {
  border-style: solid;
  border-color: #d2d2d2 #bebebe #afafaf;
  border-width: 3px;
  height: 880px;
  position: relative;
  width: 660px;
  -moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  -o-border-radius: 34px;
  -ms-border-radius: 34px;
  border-radius: 34px;
  background: #000; 
  background-image:   -moz-linear-gradient(top, #000 0%, #080808 100%); 
  background-image:   -webkit-linear-gradient(top, #000 0%, #080808 100%); 
  background-image:   -o-linear-gradient(top, #000 0%, #080808 100%); 
  background-image:   -ms-linear-gradient(top, #000 0%, #080808 100%);  
  background-image:   linear-gradient(top, #000 0%, #080808 100%);
}
/***** Screen *****/
.ipad .glow {
  height: 70px;
  position: absolute;
  width: 337px;
  z-index: 10;
  top: 0;
  right: 0px;
  background: -o-linear-gradient(160 00, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 80%);
  background: -moz-linear-gradient(160 00, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 80%);
  background: -webkit-linear-gradient(160 00, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 80%);
  background: -ms-linear-gradient(160 00, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 80%);
  background: linear-gradient(160 00, rgba(255,255,255,0.2) 60%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 80%);
  background: -webkit-gradient(linear, 160 00, -80 80, color-stop(0.6, rgba(255,255,255,0.2)), color-stop(0.6, rgba(255,255,255,0)), color-stop(0.8, rgba(255,255,255,0)));
  -moz-border-radius: 0 30px 0 0;
  -webkit-border-radius: 0 30px 0 0;
  -ms-border-radius: 0 30px 0 0;
  -o-border-radius: 0 30px 0 0;
  border-radius: 0 30px 0 0;
}

.ipad .screen {
  width: 640px;
  height: 720px;
  background: #fff;
  position: absolute;
  top: 73px;
  left: 5px;
  border-style: solid;
  border-color: #181818 #1f1f1f #000;
  border-width: 2px;
  z-index: 1;
}
/***** Camera *****/
.ipad .front-camera {
  height: 5px;
  width: 5px;
  border-style: solid;
  border-color: #222024 #343436 #48494a;
  border-width: 3px;
  margin-left: 282px;
  margin-top: -9px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #032139;
  background-image:   linear-gradient(top, #002d68 0%, #18446f 30%, #032139 100%);
  background-image:   -moz-linear-gradient(top, #002d68 0%, #18446f 30%, #032139 100%); 
  background-image:   -webkit-linear-gradient(top, #002d68 0%, #18446f 30%, #032139 100%); 
  background-image:   -o-linear-gradient(top, #002d68 0%, #18446f 30%, #032139 100%); 
  background-image:   -ms-linear-gradient(top, #002d68 0%, #18446f 30%, #032139 100%);  
}

/***** Buttons *****/
.ipad .home-button {
  width: 44px;
  height: 44px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  background: #080808;
  background: linear-gradient(top, #000 0%, #000 52%, #212121 53%, #434343 100%);
  background: -moz-linear-gradient(top, #000 0%, #000 %, #212121 53%, #434343 100%);
  background: -webkit-linear-gradient(top, #000 0%, #000 52%, #212121 53%, #434343 100%);
  background: -ms-linear-gradient(top, #000 0%, #000 52%, #212121 53%, #434343 100%);
  background: -o-linear-gradient(top, #000 0%, #000 52%, #212121 53%, #434343 100%);
  position: absolute;
  bottom: 15px;
  left: 306px;
  box-shadow: 0 -1px 0 #222222;
}
.ipad .home-button .button-inner {
  width: 13px;
  height: 13px;
  -moz-border-radius: 3px;
  -webkit-border-radius:3px;
  border-radius: 3px;
  border: 1px solid #8f8f8f;
  margin: 15px 0 0 14px;
}

.ipad .buttons .power {
  background: #bab9b7;
  background: linear-gradient(left, #c5c5c5 0%, #dedede 5%, #cbcbcb 10%, #bcbcbc 15%, #bdbdbd 20%, #c4c4c4 60%, #a0a0a0 80%, #b0b0b0 90%, #d7d7d7 95%, #cacaca 100%);
  background: -moz-linear-gradient(left, #c5c5c5 0%, #dedede 5%, #cbcbcb 10%, #bcbcbc 15%, #bdbdbd 20%, #c4c4c4 60%, #a0a0a0 80%, #b0b0b0 90%, #d7d7d7 95%, #cacaca 100%);
  background: -webkit-linear-gradient(left, #c5c5c5 0%, #dedede 5%, #cbcbcb 10%, #bcbcbc 15%, #bdbdbd 20%, #c4c4c4 60%, #a0a0a0 80%, #b0b0b0 90%, #d7d7d7 95%, #cacaca 100%);
  background: -ms-linear-gradient(left, #c5c5c5 0%, #dedede 5%, #cbcbcb 10%, #bcbcbc 15%, #bdbdbd 20%, #c4c4c4 60%, #a0a0a0 80%, #b0b0b0 90%, #d7d7d7 95%, #cacaca 100%);
  background: -o-linear-gradient(left, #c5c5c5 0%, #dedede 5%, #cbcbcb 10%, #bcbcbc 15%, #bdbdbd 20%, #c4c4c4 60%, #a0a0a0 80%, #b0b0b0 90%, #d7d7d7 95%, #cacaca 100%);
  -moz-border-radius: 1px 1px 0 0;
  -webkit-border-radius: 1px 1px 0 0;
  border-radius: 1px 1px 0 0;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #B6B5B3;
  top: -5px;
  right: 40px;
  width: 36px;
  height: 2px;
  position: absolute;
}

.ipad .buttons .mute {
  background: #bab9b7;
  background: linear-gradient(top, #c5c5c5 0%, #dedede 5%, #cbcbcb 10%, #bcbcbc 15%, #bdbdbd 20%, #c4c4c4 60%, #a0a0a0 80%, #b0b0b0 90%, #d7d7d7 95%, #cacaca 100%);
  background: -moz-linear-gradient(top, #c5c5c5 0%, #dedede 5%, #cbcbcb 10%, #bcbcbc 15%, #bdbdbd 20%, #c4c4c4 60%, #a0a0a0 80%, #b0b0b0 90%, #d7d7d7 95%, #cacaca 100%);
  background: -webkit-linear-gradient(top, #c5c5c5 0%, #dedede 5%, #cbcbcb 10%, #bcbcbc 15%, #bdbdbd 20%, #c4c4c4 60%, #a0a0a0 80%, #b0b0b0 90%, #d7d7d7 95%, #cacaca 100%);
  background: -ms-linear-gradient(top, #c5c5c5 0%, #dedede 5%, #cbcbcb 10%, #bcbcbc 15%, #bdbdbd 20%, #c4c4c4 60%, #a0a0a0 80%, #b0b0b0 90%, #d7d7d7 95%, #cacaca 100%);
  background: -o-linear-gradient(top, #c5c5c5 0%, #dedede 5%, #cbcbcb 10%, #bcbcbc 15%, #bdbdbd 20%, #c4c4c4 60%, #a0a0a0 80%, #b0b0b0 90%, #d7d7d7 95%, #cacaca 100%);
  -moz-border-radius: 1px 1px 0 0;
  -webkit-border-radius: 1px 1px 0 0;
  border-radius: 1px 1px 0 0;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #B6B5B3;
  top: 50px;
  left: -5px;
  width: 2px;
  height: 20px;
  position: absolute;
}

.ipad .buttons .volume-up,
.ipad .buttons .volume-down {
  background: #b6b5b3;
  background: linear-gradient(top, #b6b5b3 0%,#ecebe9 8%,#faf9f7 15%,#f5f4f2 23%,#e3e2e0 31%,#bebdbb 38%,#888785 46%,#5e5d5b 54%,#4d4c4a 62%,#545351 69%,#7e7d7b 77%,#adacaa 85%,#cbcac8 92%,#b0afad 100%);
  background: -moz-linear-gradient(top, #b6b5b3 0%, #ecebe9 8%, #faf9f7 15%, #f5f4f2 23%, #e3e2e0 31%, #bebdbb 38%, #888785 46%, #5e5d5b 54%, #4d4c4a 62%, #545351 69%, #7e7d7b 77%, #adacaa 85%, #cbcac8 92%, #b0afad 100%);
  background: -webkit-linear-gradient(top, #b6b5b3 0%,#ecebe9 8%,#faf9f7 15%,#f5f4f2 23%,#e3e2e0 31%,#bebdbb 38%,#888785 46%,#5e5d5b 54%,#4d4c4a 62%,#545351 69%,#7e7d7b 77%,#adacaa 85%,#cbcac8 92%,#b0afad 100%);
  background: -ms-linear-gradient(top, #b6b5b3 0%,#ecebe9 8%,#faf9f7 15%,#f5f4f2 23%,#e3e2e0 31%,#bebdbb 38%,#888785 46%,#5e5d5b 54%,#4d4c4a 62%,#545351 69%,#7e7d7b 77%,#adacaa 85%,#cbcac8 92%,#b0afad 100%);
  background: -o-linear-gradient(top, #b6b5b3 0%,#ecebe9 8%,#faf9f7 15%,#f5f4f2 23%,#e3e2e0 31%,#bebdbb 38%,#888785 46%,#5e5d5b 54%,#4d4c4a 62%,#545351 69%,#7e7d7b 77%,#adacaa 85%,#cbcac8 92%,#b0afad 100%);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-color: #B6B5B3;
  -moz-border-radius: 1px 0 0 1px;
  -webkit-border-radius: 1px 0 0 1px;
  -ms-border-radius: 1px 0 0 1px;
  -o-border-radius: 1px 0 0 1px;
  -khtml-border-radius: 1px 0 0 1px;
  border-radius: 1px 0 0 1px;
  position: absolute;
}
.ipad .buttons .volume-up {
  left: -5px;
  width: 2px;
  height: 15px;
  top: 90px;
}
.ipad .buttons .volume-down {
  left: -5px;
  width: 2px;
  height: 15px;
  top: 130px;
}

/***** Perfect *****/
.ipad .perfect .line {
  width: 3px;
  height: 1px;
  position: absolute;
}
.ipad .perfect .line-1 {
  top: 33px;
  left: -3px;
  background: #353230;
  border-top: 1px solid #3d3b39;
}
.ipad .perfect .line-2 {
  top: 33px;
  right: -3px;
  background: #353230;
  border-top: 1px solid #3d3b39;
}
.ipad .perfect .line-3 {
  bottom: 33px;
  left: -3px;
  background: #3d3b39;
  border-top: 1px solid #353230;
}
.ipad .perfect .line-4 {
  bottom: 33px;
  right: -3px;
  background: #3d3b39;
  border-top: 1px solid #353230;
}

.ipad .shadow {
  background: rgba(0,0,0,0.25);
  width: 612px;
  height: 0;
  position: absolute;
  bottom: -6px;
  left: 24px;
  box-shadow: 0 0 6px 4px rgba(0,0,0,0.25);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
